body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
#container {
  background-color: #d4e6fe;
  margin: 2em 25em 0 25em;
  padding: 3em 4em 4em 4em;
  max-width: 100%;
}
#card {
  background-color: white;
  height: 45vh;
  padding: 0.2em 3em 7em 3em;
}
h1 {
  color: #0107f1;
  font-weight: 350;
}
#card p {
  color: #13c593;
}
input[name="name"],
[name="surname"],
[name="email"],
[name="phone"] {
  background-color: #e7e9fe;
  padding: 1em;
  border-radius: 0.5em;
  border-style: hidden;
}
input[name="name"],
[name="surname"] {
  width: 44%;
}
input[name="email"],
[name="phone"] {
  width: 44%;
}
input[name="address"] {
  background-color: #c7cdfd;
  width: 92%;
  padding: 1.5em;
  border-radius: 0.5em;
  border-style: hidden;
}
textarea[name="message"] {
  background-color: #a5b1fd;
  width: 90%;
  padding: 2em;
  border-radius: 0.5em;
  border-style: hidden;
}

button {
  background-color: #233bf3;
  color: white;
  border-radius: 1em;
  padding: 0.8em;
  border-style: hidden;
  margin: 0 auto;
  display: block;
  width: 25%;
}
.row {
  margin: 0.5em;
}
